.edit {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #696969;
    padding: 1%;
    border-radius: 5px;
    display: grid;
    gap: 10px;
}