.ticket-grid {
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    gap: 20px;
    
}

.ticket-item {
    border: 1px solid white;
    border-radius: 10px;
    padding: 2%;
    background-color: rgb(75, 75, 75);
    aspect-ratio: 5/3;
    .functionality {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        margin: 0 5%;
    }
}

.dateAdded {
    font-size: small;
}