#navbar {
    position: fixed;
    height: 50px;
    background-color: rgb(75, 75, 75);
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: space-between;
    div {
        margin: 5px
    }
}