.formInput {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #696969;
    padding: 1%;
    border-radius: 5px;
    display: grid;
    gap: 10px;
    aspect-ratio: 5/3;
    height: 40vh;
    input {
        min-height: 50%;
        height: fit-content;
    }
}